#main-anchorpane {
    -fx-background-color: #f7f7f7;
}
.menu-bar {
    -fx-background-color: #d4d4d4;
}
ScrollPane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-background-color: #f7f7f7;
    -fx-border-color: #d4d4d4;
}
VBox {
    -fx-background-color: #f7f7f7;
}
#weekday-header, #weekend-header {
    -fx-background-color:  #d4d4d4;
}
#weekday-header Label {
    -fx-text-fill: #212121;
}
#weekend-header Label {
    -fx-text-fill: #525252;
}
#date Label {
    -fx-text-fill: #212121;
}
#day-slot VBox Label {
    -fx-text-fill: #212121;
}
#load-save-button {
    -fx-background-color: #d4d4d4;
    -fx-background-radius: 10px;
    -fx-text-fill: #212121;
    -fx-label-padding: 2px 12px 2px 12px;
}

.menu {
    -fx-label-padding: 3px;
}
.menu .label, .menu-item .label {
    -fx-text-fill: #212121;
}
.menu:hover, .menu:pressed {
    -fx-background-color: #f7f7f7;
}
.menu-item:hover {
    -fx-background-color: #f7f7f7;
}
.context-menu {
    -fx-background-color: #f7f7f7;
    -fx-label-padding: 10px;
}
.menu-item:focused {
    -fx-background-color : #d4d4d4;
}
#event-label {
    -fx-font-size: 14px;
    -fx-border-color: #f7f7f7;
}
#name-label {
    -fx-text-fill: #f7f7f7;
}
#time-label {
    -fx-text-fill: #ebebeb;
    -fx-font-weight: bold;
}

.scroll-bar:vertical .track{
    -fx-background-color : #f7f7f7;
    -fx-border-color : #f7f7f7;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 5.0 0.0 0.0;

}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.05em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 1.0, 0.0, 0.0;
    -fx-background-radius : 0.5em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F,10.0%);
    -fx-background-insets: 1.0, 0.0, 0.0;
    -fx-background-radius: 0.5em;
}


